<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <h1>What do you want to Know?</h1>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Saepe facere minus fugiat sapiente, laboriosam, ab magnam 
        iusto qui at suscipit aspernatur incidunt doloremque, 
        sed alias reiciendis distinctio. Facere, voluptatibus incidunt?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum obcaecati ratione laboriosam, ipsum hic nesciunt quam natus aperiam debitis veritatis molestiae ab labore quibusdam, consequuntur sed corporis expedita doloribus dolor.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, harum non magnam magni repellat tempora, dolore at ipsam perspiciatis cumque eum, necessitatibus rerum recusandae quis? Necessitatibus sapiente magnam vitae beatae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dicta incidunt sint vitae, minima earum nesciunt inventore voluptatem. Fugiat assumenda sunt sed fuga. Doloremque illo sed nihil iusto quaerat nisi.
    </p>
</body>
</html>