<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= cobaan heula %> </title>
</head>
<body>
    <h1>PERCOBAAN</h1>
    <form action="POST">
        <div class="login-box">
            <h1 id="log">Login</h1>
            <div class="textbox">
                <input type="text" placeholder="Username" name="value">
            </div>
    
            <div class="textbox">
                <input type="password" placeholder="Enter Password" name="value">
            </div>
            <button class="btn" type="submit">Log In</button>
    </div>
    </form>
</body>
</html>