<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- S E C T I O N  S A T U -->
<section id="satu">


    <nav class="navbar">
        <a href="#" class="logo"><strong>LOGO</strong></a>
        <p>
        <a href="/">HOME</a>
        <a href="/work">WORK</a>
        <a href="/contact">CONTACT</a>
        <a href="/about">ABOUT</a>
        </p>
    
    <div class="log-in cf">
        <div class="up-in">
            <a href="#">SIGN UP</a>
            <a href="#">LOG IN</a>
      </nav>

<!-- M A I N  C O N T E N T -->
<div class="content">
<h1>PLAY TRADITIONAL GAME</h1>
<h3>Experience new traditional game play</h3>
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button" 
      style="background-color: #f6b038; height: 50px; width: 200px;"><b>PLAY NOW!</b></button>
    </form>
  </div>

<!---------- F O O T E R --------->

<div class="foot">
    <h4>The Story</h4>
        <div id="triangle-down">
            
        </div>
</div>

</section>

<!-- -------------------------------------------------------- -->

<section id="dua">
<div class="image"></div>

    <div class="write">
        <h5 id="w">What's so special?</h5>
        <h2 id="t">THE GAMES</h2>
    </div>

</section>

<!-- ------------------------------------------------------- -->
<section id="tiga">
<div class="features">
    <h6 id="a">What's so special?</h6>
    <h6 id="feature">FEATURES</h6>
    <h6 id="tg">TRADTIONAL GAMES</h6>
    <h6 id="kal">if you miss your childhood, we provide <br>
        many traditional games here</h6>
    <h6 id="gs">GAME SUIT</h6>
    <H6 id="tb">TBD</H6>
</div>

</section>

<!-- -------------------------------------------------------- -->
<section id="empat">
<h2 id="sr">SYSTEM<br>REQUIREMENTS</h2>
<h6 id="can">Can My Computer Run this Game ?</h6>

<table border="1" cellpadding="5" cellspacing="5">
    <tr>
        <td ><h5 id="tu">OS:</h5>Windows 7 64-bit only<br>
        (No OSX support at this time)</td>
        <td><h5 id="wa">PROCESSOR:</h5>Intel Core 2 Duo @ 2,4 GHZ or <br>
        AMD Athlon X2 @ 2.8 GHZ</td>
    </tr>
    <tr>
      <td><h5 id="ga">MEMORY:</h5> 4 GB RAM</td>
      <td><h5 id="pat">STORAGE:</h5> 8 GB available space</td>
    </tr>
    <tr>
      <td colspan="2"><h5 id="ma">GRAPHICS:</h5>NVDIA GeFOrve GTX 660 2 GB or <br> AMD Radeoon HD 7850 2 GB DirectX11 (Shader Model 5)</td>
    </tr>
</table>

</section>
<!-- --------------------------------------------------------- -->
<section id="lima">
<h2 id="ts">TOP SCORE</h2>
<h6 id="klmt">This top score from various games provided <br>
on this platform</h6>
<button class="btn2" style="background-color:#f9b13e ; width: 150px; height: 35px;"><b>see more</b></button>

<div class="card-satu">
    <h5 id="ev" style="color: #ffb548; font-weight: normal;">Evan Lahti</h5>
    <h6 id="an" style="color: #8d8d8e;">PC Gamer</h6>
    <p id="evan">"One Of my gaming highlights of the year."</p>
    <p id="tgl-satu">October 18, 2018</p>
</div>
<div class="card-dua">
    <h5 id="ja" style="color:#ffb548; font-weight: normal;">Jada Griffin</h5>
    <h6 id="da" style="color: #8d8d8e;">Nerdactor</h6>
    <p id="jada">"The next big thing in the world of streaming and surival games."</p>
    <p id="tgl-dua">December 21, 2018</p>
</div>
<div class="card-tiga">
    <h5 id="aa" style="color: #ffb548; font-weight: normal;">Aaron William</h5>
    <h6 id="ron" style="color: #8d8d8e;">Uproxx</h6>
    <p id="aaron">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous."</p>
    <p id="tgl-tiga">December 24, 2018</p>
</div>
</section>

</body>
</html>